@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquareNeo@1.0/nanumsquareneo.css);

@import "tailwindcss";

body {
  font-family: "NanumSquareNeo", sans-serif;
  font-weight: 400;
}

.n1 {
  font-weight: 700;
}
.n2 {
  font-weight: 800;
}
.n3 {
  font-weight: 900;
}
.n0 {
  font-weight: 300;
}
